<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Gallery</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/addgallery"><i class="bi bi-plus-circle"></i>Add Gallery</a>
            </div>
            <div>
                <table>
                    <tr>
                      <th>Image id</th>
                      <th>Action</th>
                    </tr>
                    <% if (Gallery.length > 0){ %> <% Gallery.forEach(Gallery => { %>
                    <tr>
                      <td><img src="https://drive.google.com/uc?id=<%= Gallery.image_id %>" class="img-thumbnail" style="width: 100px;height: 100px;"></td>
                      <td>
                        <a href="/deletegallery/<%- Gallery._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                      </td>
                    </tr>
                    <% }) %> <% } else{ %>
                        <p>There are no Images to be displayed</p>
                      <% } %>
                  </table>
                  
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>