<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Library Books</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/addlibrarybook"><i class="bi bi-plus-circle"></i>Add Library Books</a>
            </div>
            <div>
                <table>
                    <tr>
                      <th>Book Title</th>
                      <th>Author </th>
                      <th>Book url </th>
                      <th>Action</th>
                    </tr>
                    <% if (Library.length > 0){ %> <% Library.forEach(Library => { %>
                    <tr>
                      <td><%= Library.book_title %></td>
                      <td><%= Library.author_name %></td>
                      <td><%= Library.link %></td>
                      <td><a href="/updatelibrarybook/<%- Library._id %>" style="margin-right:15px; color:green;"><i class="bi bi-pen"></i></a>
                        <a href="/deletelibrarybook/<%- Library._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                    </td>
                    </tr>
                    <% }) %> <% } else{ %>
                        <p>There are no Library Books to be displayed</p>
                      <% } %>
                  </table>
                  
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>