<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<h1 class="heading"> Update Library Book</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/librarybooks"><i class="bi bi-bar-chart-fill"></i>Manage Library Books</a>
            </div>
            <form method="post" action="/upgradelibrarybook/<%- librarybook._id %>">
                <input type="text" placeholder="Book title" name="book_title" value="<%- librarybook.book_title %>" />
                <input type="text" placeholder="Name of Author" name="author_name" value="<%- librarybook.author_name %>" />
                <input type="text" placeholder="Book url" name="link" value="<%- librarybook.link %>"/>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>





<%- include('../partials/footer.ejs') %>