<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Announcements</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/addannouncement"><i class="bi bi-plus-circle"></i>Add Announcement</a>
            </div>
            <div>
                <table>
                    <tr>
                      <th>Description</th>
                      <th>Image Link </th>
                      <th>Action</th>
                    </tr>
                    <% if (Announcement.length > 0){ %> <% Announcement.forEach(Announcement => { %>
                    <tr>
                      <td><%= Announcement.description %></td>
                      <td><%= Announcement.link %></td>
                      <td><a href="/updateannouncement/<%- Announcement._id %>" style="margin-right:15px; color:green;"><i class="bi bi-pen"></i></a>
                        <a href="/deleteannouncement/<%- Announcement._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                    </td>
                    </tr>
                    <% }) %> <% } else{ %>
                        <p>There are no Annoucemnt Content to be displayed</p>
                      <% } %>
                  </table>
                  
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>