<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Bible Studies Content</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/addbiblestudies"><i class="bi bi-plus-circle"></i>Add Bible Studies Content</a>
            </div>
            <div>
                <table>
                    <tr>
                      <th>Title</th>
                      <th>Snippet </th>
                      <th>Date </th>
                      <!-- <th>Document link</th> -->
                      <th>Actions</th>
                    </tr>
                    <% if (biblestudys.length > 0){ %> <% biblestudys.forEach(biblestudy => { %>
                    <tr>
                      <td><%= biblestudy.title %></td>
                      <td><%= biblestudy.snippet %></td>
                      <td><%= biblestudy.date %></td>
                      <!-- <td class="text-truncate"><%= biblestudy.link %></td> -->
                      <td><a href="/updatebiblestudies/<%- biblestudy._id %>" style="margin-right:15px; color:green;"><i class="bi bi-pen"></i></a>
                        <a href="/deletebiblestudies/<%- biblestudy._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                    </td>
                    </tr>
                    <% }) %> <% } else{ %>
                        <p>There are no Bible Studies Content to be displayed</p>
                      <% } %>
                  </table>
                  
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>