<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Presidents</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/addpresident"><i class="bi bi-plus-circle"></i>Add President</a>
            </div>
            <div>
              
                <table>
                    <tr>
                      <th>Full Name</th>
                      <th>Year of Administration </th>
                      <th>Action</th>
                    </tr>
                    <% if (presidents.length > 0){ %> <% presidents.forEach(president => { %>
                    <tr>
                      <td><%= president.name %></td>
                      <td><%= president.yearofadministration %></td>
                      <td><a href="/updatepresident/<%- president._id %>" style="margin-right:15px; color:green;"><i class="bi bi-pen"></i></a>
                    </td>
                    </tr>
                    <% }) %> <% } else{ %>
                      <p>There are no Presidents to be displayed</p>
                    <% } %>
                  </table>
                 
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>